@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  p {
    @apply mb-3;
  }

  h1 {
    @apply font-extrabold;
    @apply mb-4;
    @apply text-2xl;
    @apply md:text-4xl;
  }

  h2 {
    @apply font-bold;
    @apply mb-2;
    @apply text-xl;
    @apply md:text-2xl;
  }
  ul {
    margin: 10px;

  }
  ul.list li {
    list-style: inside;
  }

  .hyperlink {
    @apply text-blue-600 underline
  }

  .hyperlink:visited {
    @apply text-purple-600
  }
}

.highlight {
  font-weight: 600;
  font-family: monospace, monospace;
}

.br {
  display: block;
}

.mainmenu {
  display: block;
  margin-top: 1;
  color: #dcdcdc;
}

.mainmenu:hover {
  color: white;
}

.arrow {
  display: inline-block;
}

.arrclosed {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#yoy-cards>div>div:nth-child(8) {
  background-color: #e9e9e9;
  border-color: #4a5d5e;
  border-block-width: 2px;
}

.about-list li {
  list-style: none;
  font-size: 1.25rem;
  line-height: 1.50rem;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem;

}

/* › ♦ ➽ ➲ ➢*/
.about-list li::before {
  content: "»";
  padding-right: 0.85rem;
  color: #424c5b;
  font-size: 1.5rem;
  font-weight: 900;
}
